@charset "UTF-8";

/*Todas as medias querys virão aqui*/

/* Typical devices breakpoints
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 769px até 992px
Desktop: 992px até 1200px
Grandes telas: acima 12000px
*/

@media screen and (max-width: 1761px) {

    .title2{
        margin-top: 7rem;
        font-size: 40px;
    }

    .button{
        width: auto;
        height: 50px;
    }

    .title{
        font-size: 30px;
    }

    #ip{
        height: 450px;
        width: auto;
    }

    

    .logo img {
        height: 135px;
        margin: 0;
    }

    .input{
        width: 600px;
    }
}

@media screen and (max-width: 1540px) {

.container{
    height: 100vh;
}

#bv{
    color: aliceblue;
    margin-top: 80px;
    font-size: 45px;
    text-shadow: 3px 2px 2px #7AC143;
}
#bv2{
    color: aliceblue;
    font-size: 45px;
    text-shadow: 3px 2px 2px #7AC143;
}

#ip{
    height: 400px;
    margin-bottom: 10px;
}

.form-header{
    margin-top: -2rem;
    margin-bottom: 2rem;
}

.title2{
    font-size: 35px;
    margin-top: -3.3rem;
}

.btnGoogle{
    color: black;
    font-size: 20px;
    cursor: pointer;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btnGoogle:hover{
    background-color: #7AC143;
    border: 2px rgba(0, 0, 0, 0.705) solid;
    border-radius: 50px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.226);
}

.loginGoogle img{
    height: 20px;
}

.lbl{
    font-size: 20px;
}

.input {
    width: 400px;
  }

.logo img{
    height: 150px;
}

.header{
    margin-top: -3.3rem;
}

.form-image{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}
}

@media screen and (max-width: 1200px){
    
    .container{
        height: 100vh;
    }

    #bv{
        color: aliceblue;
        font-size: 40px;
        margin-top: 3rem;
        text-shadow: 3px 2px 2px #7AC143;
    }

    .t2{
        margin-top: 15rem;
    }

    #bv2{
        color: aliceblue;
        font-size: 30px;
        text-shadow: 3px 2px 2px #7AC143;
    }

    .button{
        margin-bottom: 20px;
    }

    #b2{
        margin-top: 15px;
    }

    .footer p{
        margin-top: 2px;
        margin-bottom: 20px;
    }

    .logo2{
        height: 70px;
    }

    
    #ip{
        height: 450px;
        margin-bottom: 10px;
    }

    .form-header{
        margin-top: -2;
        margin-bottom: 1rem;
    }

    .title2{
        font-size: 30px;
        margin-top: -13rem;
    }

    #or{
        margin: 0;
    }

    .logo2{
        margin: 0;
    }

    .btnGoogle{
        color: black;
        font-size: 20px;
        cursor: pointer;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .btnGoogle:hover{
        background-color: #7AC143;
        border: 2px rgba(0, 0, 0, 0.705) solid;
        border-radius: 50px;
        box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.226);
    }
    
    .loginGoogle img{
        height: 20px;
    }

    p {
        margin-top: -2rem;
    }

    .lbl{
        font-size: 20px;
    }

    .input {
        width: 300px;;
      }

    .input-group {
        margin: 0;
    }

    .logo img{
        height: 130px;
        margin: 0;
    }

    .header{
        margin-top: -2.5rem;
    }

    .form-image{
        display: flex;
        justify-content: center;
        flex-direction: column; 
        align-items: center;
    }
    
}

@media screen and (max-width: 1025px) {
    #ip{
        height: 300px;
    }

    .t2{
        margin-top: 15rem;
        font-size: 45px;
    }

    .logo img{
        height: 130px;
    }

    #or{
        margin: 0;
    }

    .button{
        margin: 0;
    }

    #b2{
        margin: 0;
    }

    .btn-google{
        margin: 0;
    }

    .logo2{
        height: 50px;
    }
}

@media screen and (max-width: 992px){
    #icon2{
        height: 70px;
    }
    
    .container{
        height: 100vh;
    }
    #ip{
        height: 400px;
        margin-top: 1.3rem;
        margin-bottom: 2.5rem;
    }

    .form-header{
        margin-top: -2;
        margin-bottom: 1rem;
    }

    #bv{
        color: aliceblue;
        font-size: 38px;
        margin-top: 0;
        text-shadow: 3px 2px 2px #7AC143;
    }
    #bv2{
        color: aliceblue;
        font-size: 35px;
        text-shadow: 3px 2px 2px #7AC143;
    }

    .t1{
        margin: 0;
    }

    .title2{
        font-size: 25px;
        margin-top: 1rem;
    }

    .t2{
        margin: 0;
    }

    .footer p{
        font-size: 18px;
    }

    .btnGoogle{
        color: black;
        font-size: 20px;
        cursor: pointer;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .btnGoogle:hover{
        background-color: #7AC143;
        border: 2px rgba(0, 0, 0, 0.705) solid;
        border-radius: 50px;
        box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.226);
    }
    
    .loginGoogle img{
        height: 20px;
    }

    .lbl{
        font-size: 20px;
    }

    .input {
        width: 250px;;
      }

      .logo img{
        height: 140px;
    }

    .header{
        margin-top: -2rem;
    }
    .form-image{
        display: flex;
        justify-content: center;
        flex-direction: column; 
        align-items: center;
    }
}



@media screen and (max-width: 768px) {
    .container{
        height: 100vh;
    }
    #ip{
        margin-top: 3.8rem;
        height: 240px;
    }

    .form-header{
        margin-top: -2rem;
        margin-bottom: 1rem;
    }

    .header{
        margin-top: -2rem;
    }

    #bv{
        color: aliceblue;
        margin-top: 80px;
        font-size: 35px;
        text-shadow: 3px 2px 2px #7AC143;
    }
    #bv2{
        color: aliceblue;
        font-size: 35px;
        text-shadow: 3px 2px 2px #7AC143;
    }

    .title2{
        font-size: 25px;
    }

    .footer p{
        font-size: 18px;
    }

    .btnGoogle{
        color: black;
        font-size: 20px;
        cursor: pointer;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btnGoogle:hover{
        background-color: #7AC143;
        border: 2px rgba(0, 0, 0, 0.705) solid;
        border-radius: 50px;
        box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.226);
    }
    
    .loginGoogle img{
        height: 15px;
    }

    .lbl{
        font-size: 20px;
    }

    .input {
        width: 200px;;
      }

      .logo img{
        height: 140px;
    }
}



@media screen and (max-width: 839px) {
    
    #ip{
        height: 231px;
    }
    
}

@media screen and (max-width: 720px) {
    .form-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form{
        margin-top: -5rem;
    }

    .title2{
        margin-top: -1rem;
        text-align: center;
    }
    
    .form-image{
        display: none;
    }

    .form-header img{
        margin-top: 5rem;
        height: 100px;
        object-fit: contain;
        aspect-ratio: 2/1;
    }

    .bvf{
        display: block;
        margin-top: 1rem;
    }

    .folha1{
        display: none;  
      }
  
      .folha2{
          display: none;
      }
}

@media screen and (max-width: 541px) {
    .logo{
        margin-top: 5rem;
        margin-bottom: 1rem;
    }

    .t2{
        font-size: 40px;
    }

    #or{
        margin: 0;
    }

    .button{
        margin: 0;
    }

    #b2{
        margin: 0;
    }

    .btn-google{
        margin: 0;
    }

    .logo2{
        height: 40px;
    }
}

@media screen and (max-width: 431px) {
    .logo{
        margin-top: -5rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 391px) {
    .logo{
        margin-top: -1rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 376px) {
    .logo{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 361px) {
    .logo{
        margin-top: 4rem;
        margin-bottom: 1rem;
    }

    .t2{
        font-size: 40px;
    }

    #or{
        margin: 0;
    }

    .button{
        margin: 0;
    }

    #b2{
        margin: 0;
    }

    .btn-google{
        margin: 0;
    }

    .logo2{
        height: 40px;
    }
}

@media screen and (max-width: 281px) {
    .form-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form{
        margin-top: -5rem;
    }

    .t2{
        font-size: 30px;
    }

    #b2{
        font-size: 12px;
    }

    .footer p{
        margin-top: 2px;
        margin-bottom: 2px;
        font-size: 1px;
    }

    .title2{
        margin-top: -1rem;
        text-align: center;
        font-size: 20px;
    }

    .form-image{
        display: none;
    }

    .form-header img{
        margin-top: 5rem;
        height: 100px;
        object-fit: contain;
        aspect-ratio: 2/1;
    }

    .bvf{
        display: block;
        margin-top: 1rem;
    }

    .btnGoogle{
        color: black;
        font-size: 15px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
    }

    .btnGoogle:hover{
        background-color: #7AC143;
        border: 2px rgba(0, 0, 0, 0.705) solid;
        border-radius: 50px;
        box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.226);
    }

    .loginGoogle img{
        height: 20px;
    }

    .lbl{
        font-size: 15px;
    }

    .input {
        width: 150px;;
      }

    .footer p{
        font-size: 20px;
        text-align: center;
    }

    .folha1{
      display: none;  
    }

    .folha2{
        display: none;
    }
}


